<section>
    <br>
    <h1>About the Author</h1>
    <p>Rafael is a craft beer enthusiast, and wanted to build a tool that could help him find new breweries. As the idea rolled in his head, he realized he also wanted the ability to plan a day or even a weekend around visiting new breweries. And so began <strong><em>Beercast</em></strong>, a web app designed to find breweries near your current location, or a specific user determined location. You then get a list of breweries in that specific area, and when you choose a certain brewery it will display details as well as the forecast and places nearby for that brewery. Hope you like it, and be sure to check back, as planned features will be rolled out in future versions.</p>
    <img src="../images/shortLong_hair_selfie.jpg">
</section>
