<div class="contact">
    <header>
        <i class="fa fa-beer"></i>
        <h1>Beercast</h1>
        <div class="searchBar">
            <form id="submitForm">
                <span><input type="text" name="searchBar" placeholder="Search for Breweries near...">
                    <input type="submit" name="submit" name="submit">
                    <i class="fa fa-search"></i>
                    </span>
            </form>
        </div>
        <div class="navigation">
            <div class="link1 nav menu">Menu</div>
            <div class="link2 nav">Home</div>
            <div class="link3 nav">Search</div>
            <div class="link4 nav">Contact</div>
        </div>
    </header>
    <br>
    <img src="../images/shortLong_hair_selfie.jpg">
    <h1>About the Author</h1>
    <p>Rafael is a beer lover who felt a need to facilitate his trip planning proccess for breweries. He wants to visit as many breweries as possible and this is now a powerful tool in his arsenal to do just that.</p>
</div>
