<div class="brewery">
    <div class="image">
        <%
        var imageUrl = "../images/craft_beer-3.jpg";
        if(data.get('brewery').images){
            imageUrl = data.get('brewery').images.large
        }
        %>
        <% if(imageUrl){ %>
            <div>
                <img src="<%= imageUrl %>">
            </div>
        <% } %>
    </div>
    <H1><%= data.get('brewery').name %></H1>
    <div class="description">
        <h4>Established: <%= data.get('brewery').established %></h4>
        <h4>Address: <%= data.get('streetAddress') %></h4>
        <h4>Website: <a href="<%= data.get('website') %>"><%= data.get('website') %></a></h4>
        <h4><%= data.get('brewery').description %></h4>
    </div>
</div>
<div class="weather">
</div>