<header>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />`
    <i class="fa fa-beer"></i>
    <h1>Beercast</h1>
    <div class="searchBar">
        <form id="submitForm">
            <span><input type="text" name="searchBar" placeholder="Search for Breweries near...">
                    <input type="submit" name="submit" name="submit">
                    <i class="fa fa-search"></i>
                    </span>
        </form>
    </div>
    <ul class="navigation">
        <li><a href="#home">Home</a></li>
        <li><a href="#search">Search</a></li>
        <li><a href="#about">About</a></li>
    </ul>
</header>


    <div>
        <% debugger; %>


    <H1><%= data.get('brewery').name %></H1>
    <h4><%= data.get('streetAddress') %></h4>
    <h4><%= data.get('website') %></h4>

    </div>