<header>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
    <div class="title">
        <a href="#home">
            <div class="beer-cast-icon">
                <i class="fa fa-beer fa-4x beer-ike"></i>
                <i class="fa fa-cloud fa-lg cloud-ike"></i>
                <i class="fa fa-sun-o fa-lg sun-ike"></i>
            </div>
            <h1>Beercast</h1>
        </a>
    </div>
    <div class="searchBar">
        <form id="submitForm">
            <span><input type="text" name="searchBar" placeholder="Search for Breweries near...">
                    <input type="submit" class="submit" name="submit">
                    <i class="fa fa-search"></i>
                    </span>
        </form>
    </div>
    <ul class="navigation">
        <a href="#home">
            <li>Home</li>
        </a>
        <a href="#search">
            <li>Search</li>
        </a>
        <a href="#about">
            <li>About</li>
        </a>
    </ul>
</header>
