<div class="home">
    <header>
        <i class="fa fa-beer"></i>
        <h1>Beercast</h1>
        <div class="searchBar">
            <form id="submitForm">
                <span><input type="text" name="searchBar" placeholder="Search for Breweries near...">
                    <input type="submit" name="submit" name="submit">
                    <i class="fa fa-search"></i>
                    </span>
            </form>
        </div>
        <div class="navigation">
            <div class="link1 nav menu">Menu</div>
            <div class="link2 nav">Home</div>
            <div class="link3 nav">Search</div>
            <div class="link4 nav">Contact</div>
        </div>
    </header>
    <h1>Testing. Testing. Testing 1, 2, 3!</h1>
    <h1>What is beerCast?</h1>
    <p>
        Beercast can help you plan a full day or even a weekend around visiting a brewery. You search for breweries based on location and we give you a list of breweries near that area with forecast information and places nearby. So let's say you live in Houston (Best city on Earth) and you want to visit the "Austin Beer Works" in Austin. Come in here, type in Austin, and when you find "Austin Beer Works" and get the details, we give you the weather forecast that applies to that brewery as well as nearby places to eat. Happy planning!
    </p>
    <input type="button" class="enter" value="Enter">
</div>
