        <div class="search">
            <header>
                <img src="./images/beer.svg">
                <h1>Beercast Search</h1>
                <div class="searchBar">
                    <input type="text" name="searchBar" placeholder="Search Breweries..">
                    <input type="submit" name="submit">
                </div>
                <div class="navigation">
                    <div class="link1 menu">Menu</div>
                    <div class="link2">Home</div>
                    <div class="link3">Search</div>
                    <div class="link4">Contact</div>
                </div>
            </header>
            <div class="searchResults">
                <h2>Name</h2>
                <h4>Address</h4>
                <%= images.medium %>
            </div>
        </div>